body {
    /* background-image: url("../media/maps/map1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

    overflow: hidden;

    height: 100vh;
    width: 100%;

    padding: 0;
    margin: 0;
}

#game-screen {
    width: 100%;
    height: 100%;
}